.root {
  display: flex;
  width: 100%;
}

@each $breakpointName, $mediaQuery in map-breakpoints() {
  @media $mediaQuery {
    @each $direction, $value in (vertical, horizontal), (column, row) {
      .direction--$(direction)--$(breakpointName) {
        flex-direction: $value;
      }
    }

    @each $alignment, $value in (start, center, end), (flex-start, center, flex-end) {
      .alignment--$(alignment)--$(breakpointName) {
        align-items: $value;
      }
    }

    @each $justify, $value in (start, center, end), (flex-start, center, flex-end) {
      .justify--$(justify)--$(breakpointName) {
        justify-content: $value;
      }
    }

    @each $tokenName, $tokenValue in map-tokens("size") {
      .gap--$(tokenName)--$(breakpointName) {
        gap: $tokenValue;
      }
    }
  }
}
