.root {
  display: flex;
  width: 100%;
}

@each $breakpointName, $mediaQuery in map-breakpoints() {
  @media $mediaQuery {
    .direction-horizontal-$(breakpointName) { flex-direction: row; }
    .direction-vertical-$(breakpointName) { flex-direction: column; }

    .alignment-start-$(breakpointName) { align-items: flex-start; }
    .alignment-center-$(breakpointName) { align-items: center; }
    .alignment-end-$(breakpointName) { align-items: flex-end; }

    .justify-start-$(breakpointName) { justify-content: flex-start; }
    .justify-center-$(breakpointName) { justify-content: center; }
    .justify-end-$(breakpointName) { justify-content: flex-end; }
    .justify-between-$(breakpointName) { justify-content: space-between; }
    .justify-around-$(breakpointName) { justify-content: space-around; }

    @each $tokenName, $tokenValue in map-tokens("space") {
      .gap-$(tokenName)-$(breakpointName) {
        gap: $tokenValue;
      }
    }
  }
}
