.root {
  margin: auto;
  width: 100%;
}

@each $breakpointName, $mediaQuery in map-breakpoints() {
  @media $mediaQuery {
    @each $tokenName, $tokenValue in map-tokens("size") {
      .w-$(tokenName)-$(breakpointName) {
        max-width: $tokenValue;
        width: 100%;
      }
    }
  }
}
